{% extends "core/base.html" %}


{% block title %}Login{% endblock %}


{% block body %}
{% load static %}


        <!-- Reservations Section Start -->
        <section id="reservations">
            <div class="container">
                <header class="section-header">
                    <h3>Reservations</h3>
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="control-group col-sm-3">
                                <div class="form-group">
                                    <div class="input-group date" id="date" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="Date" data-target="#date"/>
                                        <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group col-sm-3">
                                <div class="form-group">
                                    <div class="input-group date" id="time" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="Time" data-target="#time"/>
                                        <div class="input-group-append" data-target="#time" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group col-sm-3">
                                <select class="custom-select">
                                    <option selected>Party Size</option>
                                    <option value="1">1 Person</option>
                                    <option value="2">2 People</option>
                                    <option value="3">3 People</option>
                                    <option value="4">4 People</option>
                                    <option value="5">5 People</option>
                                    <option value="6">6 People</option>
                                    <option value="7">7 People</option>
                                    <option value="8">8 People</option>
                                    <option value="9">9 People</option>
                                    <option value="10">10 People</option>
                                </select>
                            </div>
                            <div class="control-group col-sm-3">
                                <button class="btn btn-block btn-book">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Reservations Section End -->

        <!-- Menu Section Start -->
        <section id="food-menu">
            <div class="container">
                <header class="section-header">
                    <h3>Tabemono Menu</h3>
                </header>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-1.jpg' %}" />
                            <div>$20</div>
                            <h4>Lorem ipsum</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-2.jpg' %}" />
                            <div>$15</div>
                            <h4>Curabitur Commodo</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-3.jpg' %}" />
                            <div>$12</div>
                            <h4>Proin Tortor</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-4.jpg' %}" />
                            <div>$18</div>
                            <h4>Aliquam Erat</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-5.jpg' %}" />
                            <div>$25</div>
                            <h4>Curabitur Arcu Massa</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-6.jpg' %}" />
                            <div>$10</div>
                            <h4>Vestibulum Fringilla</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-7.jpg' %}" />
                            <div>$18</div>
                            <h4>Ullamcorper Facilisis </h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-8.jpg' %}" />
                            <div>$14</div>
                            <h4>Integer Ullamcorper</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 d-sm-none d-md-block d-lg-none">
                        <div class="single-menu">
                            <img class="img-fluid" src="{% static 'img/menu-9.jpg' %}" />
                            <div>$22</div>
                            <h4>Vestibulum Posuere</h4>
                            <a href="order.html">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Section End-->
            
        <!-- Subscriber Section Start -->
        <section id="subscriber">
            <div class="container">
                <div class="section-header">
                    <h3>Get Latest Food Info</h3>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter Your Email">
                            </div>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Subscriber Section end -->

{% endblock %}