{% extends "core/base.html" %}


{% block title %}Login{% endblock %}


{% block body %}
{% load static %}

        <!-- Login Section Start -->
        <section id="login">
            <div class="container">
                <div class="section-header">
                    <h3>Registration / Login</h3>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="login-col-1">
                            <div class="login-form">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" placeholder="Username" id="username" name="username" required="required" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="email" class="form-control" placeholder="Your Email" id="email" name="email" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="password" class="form-control" placeholder="Your Password" id="password" name="password" required="required" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="password" class="form-control" placeholder="Confirm Password" id="confirm_password" name="confirm_password" required="required" />
                                        </div>
                                    </div>
                                    <div><button type="submit">Register</button></div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="login-col-2">
                            <div class="login-form">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email" id="email" name="email" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Your Password" id="password" name="password" required="required" />
                                    </div>
                                    <div><button type="submit">Login</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Login Section End -->


{% endblock %}